@import url(https://fonts.googleapis.com/css?family=Vibur);
* {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  font-family: arial;
}

html {
  background: #212121 !important;
}
h2 {
  color: #ccc !important;
  text-align: center !important;
  font-family: 'Vibur', cursive !important;
  font-size: 15vh !important;
}
#qrcode {
  text-align: center !important;
}